html
  head
    title title
    script(src="js/vendor/p5/p5.min.js")
    script(src="js/vendor/p5/p5.play.js")
    script(src="js/vendor/socket.io/socket.io.js")
    script(src="js/server_communication.js")
    script(src="js/bin/utils.js")
    script(src="js/main.js")
    
    link(rel="stylesheet", type="text/css", href="css/main.min.css")
    
  body
